.card {
    /* Add shadows to create the "card" effect */
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 15px;      
    display: inline-block;    
    margin:55px 25px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .containerD {
   text-align: center;
   position:relative;
   top:35px;
  }
  .containerI {
        position:relative;
        width: 250px;
        height: 170px;        
        background-color: gainsboro;
        left:25px;
        top:25px;
    
   }
   
   .buttonx{
    position: relative;
    width: 170px;
    height: 55px;
    padding: 10px;
    background:teal;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    align-self: center;
    border-radius: 15px;
    top:20px;  
    
   }
   .picture{
    height:250px;
    width: 300px;
    background-color:grey;
    
   }
   .h3{
     color:black;
   }
   .info{
     position:relative;
    height:400px;
    width: 700px;
    background-color:grey;
    left:320px;
    bottom:250px;
   }
   .h4{
     position: relative;
    left:20px;
  }
  
  