.card {
    /* Add shadows to create the "card" effect */
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 330px;
    background-color: white;
    border-radius: 5px;      
    display: inline-block;    
    margin:55px 25px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .containerD {
   text-align: center;
   position:relative;
   top:35px;
  }
  .containerI {
        position:relative;
        width: 250px;
        height: 170px;        
        background-color: gainsboro;
        left:25px;
        top:25px;
    
   }
  