.inicio{
color: white;
text-align: center;
border-radius: 20px;
border-style: solid;
margin-top: 5%;
margin-left: 15%;
margin-right: 15%;
padding:5%;
}


h1{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: black;
}

.cont{
    margin-top: 5%;
margin-left: 45%;
width: 150px;
height: 150px;

}
.conti{
margin-left: 40%;
margin-top: 5%;
margin-bottom: 5%;
width: 150px;
height: 150px;

}