body{
    object-position: center;
    
}

.container{
    margin:100px;
    padding: 0px;
    position: center;
    background: transparent;
    border: solid 3px black;
    border-radius: 10px;
    
}


.form{
    position: relative;
    left: 100px;

}

.inputform{
    padding: 100px;
    position: relative;

}

.footer{
    text-align: center;
    
}

.boton{
    width: auto;
    position: relative;
    left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.containercard{
    margin-left: 120px;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 280px;
    padding: 0px;
    position: center;
    background: transparent;
    border: solid 3px black;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}
